<a href="https://colab.research.google.com/github/MathieuRobert68/Database_Inha_Courses/blob/main/MIDTERMEXAM_12224837.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/Mid_Term_Exam.db")

In [2]:
conn = my_conn.connect()

In [3]:
conn.execute('''
CREATE TABLE `Vehicle`(
  `ID` VARCHAR NOT NULL,
  `Registration_ID` VARCHAR NOT NULL,
  `Manufacter` VARCHAR NOT NULL,
  `Model` VARCHAR NOT NULL,
  `Color` VARCHAR NOT NULL,
  `Curent_odometer` INT,
  `Passager_capacity` INT NOT NULL,
  `Is_available` BOOLEAN NOT NULL,
  `Maintenance_id` INT,
  PRIMARY KEY(`ID`)
);''')

In [4]:
conn.execute('''
CREATE TABLE `Repaired`(
  `ID` INT NOT NULL,
  `Action_type` CHAR NOT NULL,
  `Odometer` BIGINT NOT NULL,
  `Final_cost` INT NOT NULL,
  `Action_description` VARCHAR NOT NULL,
  `Date` DATETIME NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [5]:
conn.execute('''
CREATE TABLE `Contries`(
  `ID` INT NOT NULL,
  `Country_name` VARCHAR NOT NULL,
  `Language` JSON NOT NULL,
  `Entity_ID` INT NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [6]:
conn.execute('''
CREATE TABLE `FATL`(
  `ID` INT NOT NULL,
  `Level` INT NOT NULL,
  `Qualification_date` DATE NOT NULL,
  `Driver_ID` VARCHAR NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [7]:
conn.execute('''
CREATE TABLE `STLV`(
  `ID` INT NOT NULL,
  `Level` INT NOT NULL,
  `Qualification_date` VARCHAR NOT NULL,
  `Certifying` VARCHAR,
  `Driver_ID` VARCHAR NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [9]:
conn.execute('''
CREATE TABLE `Drivers`(
  `ID` INT NOT NULL,
  `Entity_ID` INT NOT NULL,
  `First_name` VARCHAR NOT NULL,
  `Last_name` VARCHAR NOT NULL,
  `License_number` VARCHAR(18) NOT NULL,
  `Clerence_level` INT NOT NULL,
  `Language` JSON NOT NULL,
  `FATL_ID` INT,
  `STLV_ID` INT,
  PRIMARY KEY(`ID`)
);''')

In [10]:
conn.execute('''
CREATE TABLE `Booking`(
  `Booking_ref` INT NOT NULL,
  `Driver_id` INT NOT NULL,
  `Game_official_ID` INT NOT NULL,
  `Trip_start` INT NOT NULL,
  `Trip_end` INT,
  `Vehicle_ID` VARCHAR NOT NULL,
  PRIMARY KEY(`Booking_ref`)
);''')

In [11]:
conn.execute('''
CREATE TABLE `City`(
  `ID` INT NOT NULL,
  `Name` VARCHAR NOT NULL,
  `Country_id` INT NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [12]:
conn.execute('''
CREATE TABLE `Trip_information`(
  `ID` INT NOT NULL,
  `Adress` VARCHAR NOT NULL,
  `Location_type` VARCHAR,
  `Date_time` DATETIME,
  `Odometer` INT,
  PRIMARY KEY(`ID`)
);''')

In [15]:
conn.execute('''
CREATE TABLE `Game_official`(
  `ID` INT NOT NULL,
  `City_ID` VARCHAR NOT NULL,
  `First_name` VARCHAR NOT NULL,
  `Last_name` VARCHAR NOT NULL,
  `Role` VARCHAR NOT NULL,
  `Language` JSON NOT NULL,
  `Entity_id` INT NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [16]:
conn.execute('''
CREATE TABLE `Language`(
  `ID` INT NOT NULL,
  `Iso_code` VARCHAR NOT NULL,
  `Name` VARCHAR NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [17]:
conn.execute('''
CREATE TABLE `Multiple_languauge`
  (`Entity_ID` INT NOT NULL, `Language_ID` INT NOT NULL);''')

In [18]:
conn.execute('''
CREATE TABLE `Entity`(`ID` INT NOT NULL, PRIMARY KEY(`ID`));''')

In [19]:
conn.execute("INSERT INTO Multiple_languauge(Entity_ID,Language_ID) VALUES(13,13);")

In [26]:
conn.execute("INSERT INTO Vehicle('ID','Registration_ID','Manufacter','Model','Color','Curent_odometer','Passager_Capacity','Is_available','Maintenance_id') VALUES(1,'PEUGEOT_1','PEUGEOT',208,'WHITE',13123,5,'YES',1);")

In [30]:
conn.execute("INSERT INTO Repaired('ID','Action_type','Odometer','Final_cost','Action_description','Date') VALUES(2,'SCREW','3123',3000,'REPAIRED','2022-03-03');")

In [32]:
conn.execute("INSERT INTO Contries('ID','Country_name','Language','Entity_ID') VALUES(1,'France','Français',68);")

In [36]:
conn.execute("INSERT INTO STLV('ID','Level','Qualification_date','Certifying','Driver_ID') VALUES(1,'2','56','Legendary','HIIUZEH');")

In [39]:
conn.execute("INSERT INTO FATL('ID','Level','Qualification_date','Driver_ID') VALUES(1,'2','2000-05-08','HIIUZEH');")

In [40]:
conn.execute("INSERT INTO Drivers('ID','Entity_ID','First_name','Last_name','License_number','Clerence_level','Language','FATL_ID','STLV_ID') VALUES(1,'2','Mathieu','ROBERT','OJZAOEJ','4','Français','1','1');")

In [42]:
conn.execute("INSERT INTO Booking('Booking_ref','Driver_id','Game_official_ID','Trip_start','Trip_end','Vehicle_ID') VALUES(1,'OJZAOEJ','3','4','5','3123');")

In [43]:
conn.execute("INSERT INTO City('ID','Name','Country_id') VALUES(1,'Incheon','609');")

In [45]:
conn.execute("INSERT INTO Trip_information('ID','Adress','Location_type','Date_time','Odometer') VALUES(1,'4 ROAD COULAUX', 'INCHEON','2022-06-08','131313');")

In [46]:
conn.execute("INSERT INTO Game_official('ID','City_ID','First_name','Last_name','Role','Language','Entity_id') VALUES(1,'INCHEON', 'Cassandra','Phan','Player','Korean','13123');")

In [47]:
conn.execute("INSERT INTO Language('ID','Iso_code','Name') VALUES(1,'FR','FRANCE');")

In [49]:
conn.execute("INSERT INTO Multiple_languauge('Entity_ID','Language_ID') VALUES(13123,'FR');")

In [51]:
conn.execute("INSERT INTO Entity('ID') VALUES(1);")